{% extends "layout.html" %}
{% block content %}

<h2>Enter Medical Details</h2>

<form method="post">
  <label>Blood Group:</label>
  <input type="text" name="blood_group" required><br><br>

  <label>Allergies:</label>
  <input type="text" name="allergy"><br><br>

  <label>Medical Conditions:</label>
  <input type="text" name="conditions"><br><br>

  <label>Emergency Contact Name:</label>
  <input type="text" name="contact_name" required><br><br>

  <label>Emergency Contact Phone:</label>
  <input type="text" name="contact_phone" required><br><br>

  <button type="submit">Generate QR</button>
</form>

{% endblock %}
